<div class="jumbotron jumbotron-fluid">
  <h1> <i class="fa fa-gamepad"></i> Piedra, papel o tijera <i class="fa fa-gamepad"></i></h1>
  <p>La piedra le gana a la tijera, el papel le gana a la piedra y la tijera al papel</p>
  <hr>
  <div class="container border-success text-light">
      <div class="row  mt-5">
          <div class="col d-flex justify-content-center">
              <button class="btn btn-warning border-dark w-3" (click)='eligePiedra()'>
                  <h1 class="display-3"> <i class="fa fa-circle align-middle"></i> </h1>                   
              </button>
          </div>
          <div class="col d-flex justify-content-center">
              <button class="btn btn-warning border-dark w-3" (click)='eligePapel()'>
                  <h1 class="display-3"> <i class="fa fa-paper-plane align-middle"></i></h1>                  
              </button>
          </div>
          <div class="col d-flex justify-content-center">
              <button class="btn btn-warning border-dark w-3" (click)='eligeTijera()'>
                  <h1 class="display-3 "> <i class="fa fa-scissors align-middle"></i></h1>                  
              </button>
          </div>
      </div>
      <div class="row p-5">
          <div class="col d-flex justify-content-center">
              <div *ngIf='finJuego'>
                  <div *ngIf='nuevoJuego.gano'>
                      <h1><span class="badge badge-success">{{jugador.nombre}} GANASTE! </span></h1>
                  </div>
                  <div *ngIf='!nuevoJuego.gano && !empate'>
                      <h1><span class="badge badge-secondary">{{jugador.nombre}} Perdiste... </span></h1>
                  </div>
                  <div *ngIf='empate'>
                      <h1><span class="badge badge-warning">{{jugador.nombre}} Empataste </span></h1>
                  </div>
                  <div>
                      <h1><button class="btn-lg btn-warning btn-block" (click)='reset()'>Jugar de
                              nuevo</button></h1>
                  </div>
              </div>
          </div>
      </div>
      <div class="row border border-dark rounded-pill">
          <div class="col d-flex justify-content-center">
              <div  [hidden]='finJuego'>
                  <button class="btn btn-warning border-dark w-3" disabled>
                      <h1 class="display-3"> <i class="fa fa-question align-middle"></i> </h1>
                  </button>              
              </div>
              <div [hidden]='!finJuego'>
                  <div *ngIf='nuevoJuego.opcionRival === 1'>
                      <button class="btn btn-warning border-dark w-3" disabled>
                          <h1 class="display-3"> <i class="fa fa-circle align-middle"></i> </h1>                          
                      </button>
                  </div>
                  <div *ngIf='nuevoJuego.opcionRival === 2'>
                      <button class="btn btn-warning border-dark w-3" disabled>
                          <h1 class="display-3"> <i class="fa fa-paper-plane align-middle"></i></h1>                           
                      </button>
                  </div>
                  <div *ngIf='nuevoJuego.opcionRival === 3'>
                      <button class="btn btn-warning border-dark w-3" disabled>
                          <h1 class="display-3"> <i class="fa fa-scissors align-middle"></i></h1>                            
                      </button>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>