
  <ul class="nav nav-tabs bg-light">        
      <li class="nav-item">
        <a class="nav-link" routerLink="/Principal">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Juegos">Menú de Juegos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tooltip" title="Hooray!" (click)="Juego('Adivina')">Adivina</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="Juego('Agilidad')">Agilidad</a>            
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="Juego('Memotest')">Memotest</a>            
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="Juego('PPT')">Piedra, papel o tijera</a>            
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="Juego('Tateti')">Tateti</a>            
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/MisDatos"><span class="glyphicon glyphicon-user"></span> Mis Datos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Login"><span class="glyphicon glyphicon-log-out"></span> Salir</a>            
      </li>      
  </ul>
      
   