<app-cabecera>  </app-cabecera>

<!DOCTYPE html>
<html> 
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-amber.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>

  <div class="panel">
    <div class="titulo">
  <h1>Menú Principal</h1>
</div>  


<div class="w3-third w3-section">
<div class="w3-card-4">          <a routerLink="/Juegos">

<img src="./assets/imagenes/saladejuegos.png" style="width:70%"></a>
<div class="w3-container w3-white" style="width:70%">
<h4>Juegos</h4>
<p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
</div>
</div>
 </div> 

 <div class="w3-third w3-section">
<div class="w3-card-4">  <a routerLink="/Listado">
<img src="./assets/imagenes/listado.jpg" style="width:70%"></a>
<div class="w3-container w3-white" style="width:70%">
<h4>Listados de resultados</h4>
<p>Los listados de los resultados con ordenamiento y busqueda</p>
</div>
</div>
</div>


<div class="w3-third w3-section">
  <div class="w3-card-4">          <a routerLink="/Juegos">
  
  <img src="./assets/imagenes/Configuracion.png" style="width:70%"></a>
  <div class="w3-container w3-white" style="width:70%">
  <h4>Configuracion</h4>
  <p>Ajustes de la aplicacion y los métodos de autentificación</p>
  </div>
  </div>
  <br><br><br>
  </div> 


 
<div class="w3-third w3-section">
<div class="w3-card-4">          <a routerLink="/Jugadores">

<img src="./assets/imagenes/jugadores.png" style="width:70%"></a>
<div class="w3-container w3-white" style="width:70%">
<h4>Jugadores</h4>
<p>Listado de jugadores</p>
</div>
</div>
<br><br><br>
</div> 

</div>
</body>
</html>