<app-cabecera>  </app-cabecera>

<!-- <div class="container-fluid panel d-flex justify-content-center">
    <ul class="list-group list-group-flush-md w-75 p-3 "> -->
        <!-- <li class="list-group-item list-group-item-dark">
                <div class="media-body p-3">
                    <div class="hero-text">
                        <h4 >Menú Principal</h4>
                    </div>
                 </div>
          </li> -->
        <!-- <li class="list-group-item list-group-item-primary list-group-item-action">
          <a routerLink="/Juegos">
            <div class="media">
              <div class="media-left">                
                    <img src="./assets/imagenes/saladejuegos.png" class="media-object imagenDeMenu rounded" >
              </div>
              <div class="media-body">
                <h4 class="media-heading">Juegos</h4>
                <p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
              </div>

            </div>
          </a>
        </li> -->
        <!-- <li class="list-group-item list-group-item-success list-group-item-action">
            <a routerLink="/Listado">
              <div class="media">
                  <div class="media-left">
                      <img src="./assets/imagenes/listado.jpg" class="media-object imagenDeMenu rounded">
                    </div>
                <div class="media-body">
                  <h4 class="media-heading">Listados de resultados</h4>
                  <p>Los listados de los resultados con ordenamiento y busqueda</p>
                </div>

              </div>
            </a>
          </li> -->
        <!-- <li class="list-group-item list-group-item-primary list-group-item-action">
          <a routerLink="/Juegos">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/Configuracion.png" class="media-object imagenDeMenu rounded">
                  </div>
              <div class="media-body">
                <h4 class="media-heading">Configuraci&oacute;n</h4>
                <p>Ajustes de la aplicacion y los métodos de autentificación</p>
              </div>

            </div>
          </a>
        </li>
        <li class="list-group-item list-group-item-success list-group-item-action">
          <a routerLink="/Jugadores">
            <div class="media">
                <div class="media-left">
                    <img src="./assets/imagenes/jugadores.png" class="media-object imagenDeMenu rounded" >
                  </div>
              <div class="media-body description-text">
                <h4 class="media-heading">Jugadores</h4>
                <p>Listado de jugadores</p>
              </div>
            </div>
          </a>
        </li> -->


      <!-- </ul>
 
</div> -->
<!DOCTYPE html>
<html>
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-amber.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>


<div class="w3-container w3-padding-32 w3-theme-d1">
  <h1>Menú Principal</h1>
</div>

<div class="w3-row-padding w3-theme">

<div class="w3-third w3-section">
<div class="w3-card-4">          <a routerLink="/Juegos">

<img src="./assets/imagenes/saladejuegos.png" style="width:100%"></a>
<div class="w3-container w3-white">
<h4>Juegos</h4>
<p>El método lúdico es un conjunto de estrategias diseñadas para crear un ambiente de armonía en los estudiantes que están inmersos en el proceso de aprendizaje. Este método busca que los alumnos se apropien de los temas impartidos por los docentes utilizando el juego.</p>
</div>
</div>
</div>

<div class="w3-third w3-section">
<div class="w3-card-4">  <a routerLink="/Listado">
<img src="./assets/imagenes/listado.jpg" style="width:100%"></a>
<div class="w3-container w3-white">
<h4>Listados de resultados</h4>
<p>Los listados de los resultados con ordenamiento y busqueda</p>
</div>
</div>
</div>
<div class="w3-third w3-section">
  <div class="w3-card-4">          <a routerLink="/Juegos">
  
  <img src="./assets/imagenes/Configuracion.png" style="width:100%"></a>
  <div class="w3-container w3-white">
  <h4>Configuracion</h4>
  <p>
  </div>
  </div>
  <br><br><br>
  </div>
  </div>



<div class="w3-third w3-section">
<div class="w3-card-4">          <a routerLink="/Jugadores">

<img src="./assets/imagenes/jugadores.png" style="width:100%"></a>
<div class="w3-container w3-white">
<h4>Jugadores</h4>
<p>Listado de jugadores</p>
</div>
</div>
<br><br><br>
</div>
<div class="w3-container w3-theme-d4">
</div>

</body>
</html>