<div class="container-fluid bg-dark vw-100 p-3">
  <div class="row justify-content-center">
    <div class="card text-center w-75">
      <h2 class="card-header "> Velocidad y agilidad aritmética </h2>
      <div class="row no-gutters d-flex flex-wrap align-items-center ">
        <div class="col-md-4 bg-transparent" >
          <img src="./assets/imagenes/cerebro.jpg" class="card-img-top " alt="Avatar" style="width: 18rem;">        
        </div>
        <div class="col-md-8">        
          <div class="card-body d-flex flex-wrap justify-content-center">                        
            <p class="card-text"> Juego de agilidad mental <br> UTN FRA <br>Esto es un juego de Velocidad y agilidad mental para hacer trabajar las neuronas</p>
            <a class="btn align-bottom btn-lg btn-block btn-success " (click)="Juego('Agilidad')" 
            data-toggle="tooltip" data-placement="top" title="Apretame despacito para jugar">  Jugar</a>
          </div>
          <div class="list-group bg-light list-group-horizontal">
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-dribbble"></i></a> 
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-twitter"></i></a>
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-linkedin"></i></a>
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="card text-center mb-3 bg-light w-75" >      
      <h2 class="card-header">Adivina el número secreto</h2>
      <div class="row no-gutters d-flex flex-wrap align-items-left">
        <div class="col-md-4" >
          <img src="./assets/imagenes/adivina.png" class="card-img-top" alt="Avatar" style="width: 18rem;">
        </div>
        <div class="col-md-8">      
          <div class="card-body d-flex flex-wrap justify-content-center">
            <p class="card-text">Juega de estrategia <br> UTN FRA <br> Adivina adivinador...¿Sabrás qué pasa?... Tal vez no...Tal vez sí...adivina</p>
            <a class="btn btn-lg btn-block btn-success " (click)="Juego('Adivina')" 
            data-toggle="tooltip" data-placement="top" title="Apretame despacito para jugar">Jugar</a>
          </div>
          <div class="list-group bg-light list-group-horizontal">
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-dribbble"></i></a> 
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-twitter"></i></a>
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-linkedin"></i></a>
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="card text-center mb-3 bg-light w-75" >
      <h2 class="card-header">Piedra Papel o Tijera</h2>
      <div class="row no-gutters d-flex flex-wrap align-items-center">
        <div class="col-md-4">
          <img class="card-img-top" alt="Avatar" style="width: 18rem;" src="./assets/imagenes/ppt.jpg">      
        </div>
        <div class="col-md-8">        
          <div class="card-body d-flex flex-wrap justify-content-center">
            <p class="card-text">Juega contra la máquina <br> UTN FRA <br> La piedra le gana a la tijera, el papel le gana a la piedra y la tijera al papel</p>
            <a class="btn btn-lg btn-block btn-success " (click)="Juego('PPT')"
            data-toggle="tooltip" data-placement="top" title="Todavía podes apretarme para jugar">Jugar</a>
          </div>
          <div class="list-group bg-light list-group-horizontal">
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-dribbble"></i></a> 
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-twitter"></i></a>
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-linkedin"></i></a>
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="card text-center mb-3 bg-light w-75" >
      <h2 class="card-header">Ta-te-ti</h2>
      <div class="row no-gutters d-flex flex-wrap align-items-center">
        <div class="col-md-4">
          <img class="card-img-top" alt="Avatar" style="width: 18rem;" src="./assets/imagenes/tateti.jpg">      
        </div>
        <div class="col-md-8">        
          <div class="card-body d-flex flex-wrap justify-content-center">
            <p class="card-text">Juega contra la máquina <br> UTN FRA <br> Ta - te - ti.</p>
            <a class="btn btn-lg btn-block btn-success " (click)="Juego('Tateti')"
            data-toggle="tooltip" data-placement="top" title="Apreta el botoncito">Jugar</a>
          </div>
          <div class="list-group bg-light list-group-horizontal">
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-dribbble"></i></a> 
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-twitter"></i></a>
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-linkedin"></i></a>
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="card text-center mb-3 bg-light w-75" >
      <h2 class="card-header">Anagrama</h2>
      <div class="row no-gutters d-flex flex-wrap align-items-center">
        <div class="col-md-4">
          <img class="card-img-top" alt="Avatar" style="width: 18rem;" src="./assets/imagenes/anagrama.jpg">      
        </div>
        <div class="col-md-8">        
          <div class="card-body d-flex flex-wrap justify-content-center">
            <p class="card-text">Juega contra la máquina <br> UTN FRA <br> Hay una palabra escondida en otra palabra que tal vez conoces.</p>
            <a class="btn btn-lg btn-block btn-success " (click)="Juego('Anagrama')"
            data-toggle="tooltip" data-placement="top" title="Apreta el botoncito">Jugar</a>
          </div>
          <div class="list-group bg-light list-group-horizontal">
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-dribbble"></i></a> 
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-twitter"></i></a>
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-linkedin"></i></a>
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="card text-center mb-3 bg-light w-75" >
      <h2 class="card-header">Memotest</h2>
      <div class="row no-gutters d-flex flex-wrap align-items-center">
        <div class="col-md-4">
          <img class="card-img-top" alt="Avatar" style="width: 18rem;" src="./assets/imagenes/memotest.jpg">      
        </div>
        <div class="col-md-8">        
          <div class="card-body d-flex flex-wrap justify-content-center">
            <p class="card-text">Juega contra la máquina <br> UTN FRA <br> Hay una palabra escondida en otra palabra que tal vez conoces.</p>
            <a class="btn btn-lg btn-block btn-success " (click)="Juego('Memotest')"
            data-toggle="tooltip" data-placement="top" title="Apreta el botoncito">Jugar</a>
          </div>
          <div class="list-group bg-light list-group-horizontal">
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-dribbble"></i></a> 
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-twitter"></i></a>
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-linkedin"></i></a>
            <a class="list-group-item list-group-item-primary list-group-item-action" href="#"><i class="fa fa-facebook"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
