<!--The content below is only a placeholder and can be replaced.-->
<!--app-menu></app-menu-->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div >
      <h1>
        <i class="fa fa-gamepad"></i> <span class="text-dark"> {{nuevoJuego.nombre}} </span><i class="fa fa-gamepad"></i>
      </h1>
      <p>Hay un número escondido, tienes que adivinarlo antes de quedarte sin vida.</p>
    </div>
    <div>

      <div class="input-group mb-3 d-flex justify-content-center mt-5">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">Ingrese un numero: </span>
        </div>
        <div class="input-group-text">
          <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado"
            type="text" class="form-control" style="width:50%" />
        </div>
        <div class="input-group-text">
          <h1>{{nuevoJuego.numeroIngresado}} </h1>
        </div>
      </div>

      <div class="input-group mb-3 d-flex justify-content-center mt-3" *ngIf="nuevoJuego.numeroSecreto==0 ">
        <h2><button (click)="generarnumero()" class="btn btn-info btn-lg">Nuevo número secreto</button></h2>
      </div>
      <div *ngIf="nuevoJuego.numeroSecreto!=0" class="mt-3">
        <div class="row d-flex justify-content-center">
          <h2 [hidden]="ocultarVerificar"><button (click)="verificar()"
              class="btn btn-success btn-lg btn-block ">Verificar</button></h2>
        </div>
        <div class="row d-flex justify-content-around">
          <div class="spinner-grow spinner-grow-sm text-dark" role="status"></div>
          <div class="spinner-grow spinner-grow-md text-dark" role="status"></div>
          <div class="spinner-grow spinner-grow-lg text-dark" role="status"></div>
        </div>
      </div>

      <div class="d-flex justify-content-center">
        <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
      </div>
      <!-- Barras de progreso -->
      <div *ngIf='vida === 100'>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
            aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width:100%">100</div>
        </div>
      </div>
      <div *ngIf='vida === 90'>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
            aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width:90%">90</div>
        </div>
      </div>
      <div *ngIf='vida === 80'>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
            aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width:80%">80</div>
        </div>
      </div>
      <div *ngIf='vida === 70'>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"
            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70</div>
        </div>
      </div>
      <div *ngIf='vida === 55'>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
            aria-valuenow="55" aria-valuemin="0" aria-valuemax="100" style="width: 55%">55</div>
        </div>
      </div>
      <div *ngIf='vida === 45'>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
            aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">45</div>
        </div>
      </div>
      <div *ngIf='vida === 25'>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning" role="progressbar"
            aria-valuenow="25" aria-valuemin="0" aria-valuemax="100" style="width: 25%">25</div>
        </div>
      </div>
      <div *ngIf='vida === 10'>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
            aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">10</div>
        </div>
      </div>
      <div *ngIf='vida === 0'>
        <div class="progress">
          <div class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
            aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">0</div>
        </div>
      </div>

    </div>
  </div>
  <div id="snackbar">{{Mensajes}}</div>
</div>