<!--div style="margin: 20% auto; width: 30%;">
  <div class="row">
    <div class="col-lg-6">
      Usuario
    </div>
    <div class="col-lg-6">
      <input type="text"  [(ngModel)]="usuario">
    </div>
  </div>
  <div class="row" style="margin-top: 5px">
    <div class="col-lg-6">
      Clave
    </div>
    <div class="col-lg-6">
      <input type="password" [(ngModel)]="clave">
    </div>
  </div>
  <div class="row" style="text-align: center; margin-top: 10px">
    <div class="col-lg-12">
      <button (click)="Entrar()" class="btn btn-info btn-lg" >Entrar</button>
    </div>
  </div>
</div-->
 <div class="container" >
  <div class="jumbotron background-login" style="padding:50px;">
    <form action="return true;">
      <div class="imgcontainer">
        <img src="./assets/imagenes/login.png" alt="Avatar" class="avatar" max-width="104" >
      </div>

      <div class="container">
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Email</span>
          </div>
          <input type="email" class="form-control" [(ngModel)]="jugador.email" id="email" placeholder="Ingresa tu correo" name="uname" required>
        </div>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Clave</span>
          </div>
          <input type="password" class="form-control" [(ngModel)]="jugador.clave" id="clave" placeholder="Ingresa tu clave" name="psw" required>
        </div>
        
        <div class="input-group mb-3">
          <div class="input-group-prepend">
            <span class="input-group-text" id="basic-addon1">Recordar mis datos</span>
          </div>
          <div class="input-group-text">
            <input type="checkbox" >
          </div>
        </div>
        <div class="container d-flex justify-content-around" style="background-color:#f1f1f1"> 
          <button type="button" class="btn btn-success shadow" *ngIf="logeando"  (click)="Entrar()" >Ingresar</button>
          <button type="button" class="btn btn-danger" routerLink="/Principal">Cancelar</button>
          <button type="button" class="btn btn-info" routerLink="/Registro" >Registrarse</button>
          <span class="psw">Te olvidaste <a href="#">la clave?</a></span>
        </div>
       
        <div *ngIf="!logeando" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
              {{progresoMensaje}} - {{progreso}}%
            </div>
        </div>       
      </div>

      
     
    </form>
  </div>
</div>