<div class="body"></div>
		<div class="grad"></div>
		<div class="header">
			<div>Login</div>
    </div>
    <div class="titulo">
			<div>Bienvenido a TP JUEGOS</div>
		</div>
		<br>
		<div class="login">
      <form [formGroup]="loginForm">
        
        <div class="input-group input-group-lg">
          <label for="email"></label>
          <input type="text"  class="form-control" formControlName="email" placeholder="Correo" />   
            </div>
  
         
            <div class="input-group input-group-lg">
            <label for="password"></label>
            <input  type="password"  class="form-control"   formControlName="password" autocomplete="on" placeholder="Contraseña"/>   
          </div>
          <button class="button"  (click)="onLogin()" >
            Login
          </button>
          <button class="button" (click)="botonAutocompletar()">
            Tester
          </button>
         </form>
         <div  >
          <p class="texto">
         Crear una cuenta ? <a class="link" [routerLink]="['/Registro']"> Registro </a>
         </p>
       </div>
		
		</div>
        